<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>管理员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../static/css/font.css"/>
    <link rel="stylesheet" href="../../static/css/weadmin.css"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div class="weadmin-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员管理</a>
        <a> <cite>管理员列表</cite></a>
      </span>
    <a
            class="layui-btn layui-btn-sm"
            style="line-height:1.6em;margin-top:3px;float:right"
            href="javascript:location.replace(location.href);"
            title="刷新"
    >
        <i class="layui-icon" style="line-height:30px">ဂ</i></a
    >
</div>
<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">
            <div class="layui-inline">
                <input
                        type="text"
                        name="username"
                        placeholder="请输入用户名"
                        autocomplete="off"
                        class="layui-input"
                />
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                <i class="layui-icon">&#xe615;</i>
            </button>
        </form>
    </div>
    <div class="weadmin-block">
        <button
                class="layui-btn"
                onclick="WeAdminShow('添加用户','/account/add')"
        >
            <i class="layui-icon"></i>添加
        </button>
    </div>
    <table class="layui-table" id="table" lay-filter="admin"></table>
</div>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>
<script
        src="../../static/js/eleDel.js"
        type="text/javascript"
        charset="utf-8"
></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="status">
    <input type='checkbox' name='status' value="{{d.status}}" lay-skin='switch' lay-text='正常|禁用' mid={{d.id}}
           lay-filter="status" {{ d.status== 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['table', 'form'], function () {
        var $ = layui.$; //由于layer弹层依赖jQuery，所以可以直接得
        var form = layui.form;
        var table = layui.table;

        // table
        table.render({
            elem: '#table',
            id: 'accountTable',
            url: '/account/list',
            cols: [
                [
                    {type: 'numbers', title: '序号', align: 'center', width: 80},
                    {field: 'id', width: 50, title: 'ID', align: 'center',hide: true},
                    {field: 'username', title: '登录名', align: 'center'},
                    {field: 'ip', title: '登录ip地址', align: 'center'},
                    {field: 'roleName', title: '角色', align: 'center'},
                    // {field: 'dep_id', title: '所属部门', align: 'center'},
                    {field: 'lastLoginAt', title: '最后一次登录时间', align: 'center'},
                    {field: 'createAt', title: '创建时间', minWidth: 80, align: 'center'},
                    {field: 'updateAt', title: '更新时间', align: 'center'},
                    {field: 'status', width: 120, title: '状态', templet: '#status', align: 'center'},
                    {fixed: 'right', width: 135, title: '操作', toolbar: '#barDemo', align: 'center'}
                ]
            ],
            page: true,
            parseData: function (res) {
                //res 即为原始返回的数据
                return {
                    code: res.code === 200 ? 0 : res.code, //解析接口状态
                    msg: res.msg, //解析提示文本
                    count: res.page.totalRow, //解析数据长度
                    data: res.page.list //解析数据列表
                }
            }
        });

        //监听行工具事件
        table.on('tool(admin)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除此用户吗', function (index) {
                    layer.close(index)
                    console.log(data.id)
                    //ajax请求方法
                    axios({
                        method: 'get',
                        url: '/account/remove?id='+data.id,
                    }).then(function (data) {
                        layer.msg(data.data.msg, {icon: 6});
                        table.reload('accountTable');
                    });

                })
            } else if (obj.event === 'edit') {
                WeAdminEdit('编辑', '/account/edit?id='+data.id, data.id)
            }
        });

        //开关事件(status是lay-filter中的status，注意区别)
        form.on('switch(status)', function (obj) {
            // 通过属性获取绑定的id值
            var id = $(this).attr('mid');
            // 判断开关的状态
            var status = obj.elem.checked ? "1" : "0";
            // 构造请求参数对象
            var data = {
                id: id,
                status: status
            };
            //ajax请求方法
            axios({
                method: 'post',
                url: '/account/updateStatus',
                data: data
            }).then(function (data) {
                layer.msg(data.data.msg, {icon: 6});
                table.reload('accountTable');
            });
        });

    })
</script>
</body>
</html>
