<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>权限管理-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../static/css/font.css"/>
    <link rel="stylesheet" href="../../static/css/weadmin.css"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div class="weadmin-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员管理</a>
        <a> <cite>权限管理</cite></a>
      </span>
    <a
            class="layui-btn layui-btn-sm"
            style="line-height:1.6em;margin-top:3px;float:right"
            href="javascript:location.replace(location.href);"
            title="刷新"
    >
        <i class="layui-icon" style="line-height:30px">ဂ</i></a
    >
</div>
<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search layui-form-pane">
            <div class="layui-inline">
                <input class="layui-input" placeholder="关键字" name="cate_name"/>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon">&#xe615;</i>搜索
            </button>
            <button class="layui-btn" id="add">
                <i class="layui-icon"></i>添加
            </button>
        </form>
    </div>
    <table class="layui-table layui-form" id="table"></table>
</div>

<form class="layui-form layui-hide" lay-filter="modify" id="table-form">
    <div class="layui-form-item">
        <input id="id" name="id" hidden="hidden">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name="parentId" lay-verify="">
                <option value="0">请选择上级菜单不选择默认为顶级菜单</option>
                {{parents}}
                #for(parent:parents)
                <option value="#(parent.id)">#(parent.name)</option>
                #end
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="name"
                    lay-verify="rolename"
                    autocomplete="off"
                    placeholder="请输入权限名称 "
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限类型</label>
        <div class="layui-input-block">
            <input type="radio" name="type" value="1" title="菜单" checked/>
            <input type="radio" name="type" value="2" title="按钮"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单url</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="url"
                    autocomplete="off"
                    placeholder="请输入菜单url"
                    class="layui-input"
            />
        </div>
    </div>
    <!--    <div class="layui-form-item">-->
    <!--        <label class="layui-form-label">权限标识</label>-->
    <!--        <div class="layui-input-block">-->
    <!--            <input-->
    <!--                    type="text"-->
    <!--                    name="identify"-->
    <!--                    lay-verify="identify"-->
    <!--                    autocomplete="off"-->
    <!--                    placeholder="请输入权限标识"-->
    <!--                    class="layui-input"-->
    <!--            />-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">菜单图标</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="icon"
                    lay-verify="icon"
                    autocomplete="off"
                    placeholder="请输入菜单图标"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="sort"
                    lay-verify="sort"
                    autocomplete="off"
                    placeholder="请输入排序号"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button
                    lay-submit=""
                    class="layui-btn layui-btn-primary"
                    lay-filter="cancel"
            >
                取消
            </button>
            <button
                    type="submit"
                    class="layui-btn"
                    lay-submit=""
                    lay-filter="submit"
            >
                提交
            </button>
        </div>
    </div>
</form>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>
<script
        src="../../static/js/eleDel.js"
        type="text/javascript"
        charset="utf-8"
></script>
<script>
    layui.extend({
        treeTable: '{/}../../static/js/treeTable',
        curd: '{/}../../static/js/curd'
    })
    layui.use(['form', 'table', 'treeTable', 'layer', 'curd'], function () {
        var {form, table, treeTable, layer, $} = layui
        var curd = new layui.curd({
            $http: axios,
            addUrl: '/role/menuSave',
            editUrl: '/role/menuUpdate',
            delUrl: '/role/menuRemove',
            addResponse(data) {
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 6, time: 600}, function () {
                        location.reload()
                    })
                } else {
                    layer.msg(data.msg, {icon: 5})
                }
            },
            editResponse(data) {
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 6, time: 600}, function () {
                        location.reload()
                    })
                } else {
                    layer.msg(data.msg, {icon: 5})
                }
            },
            delResponse(data) {
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 6, time: 600}, function () {
                        location.reload()
                    })

                } else {
                    layer.msg(data.msg, {icon: 5})
                }

            }
        })

        treeTable.render({
            elem: '#table',
            id: 'ruleTable',
            url: '/role/menuList',
            icon_key: 'name',
            parent_key: 'parentId',
            data_position: 'page.list',
            end: function (e) {
                console.dir(e)
                form.render()
            },
            cols: [
                {
                    key: 'name',
                    title: '名称'
                },
                {
                    key: 'url',
                    title: '菜单url',
                    align: 'center',
                },
                {
                    key: 'icon',
                    title: '菜单图标',
                    align: 'center',
                    template: function (item) {
                        return '<i class="layui-icon">' + item.icon + '</i>'
                    }
                },
                {
                    key: 'sort',
                    title: '排序',
                    align: 'center'
                },
                {
                    key: "type",
                    title: '类型',
                    align: 'center',
                    template: function (item) {
                        if (item.type == 1) {
                            return '<span class="layui-badge-rim">菜单</span>'
                        } else {
                            return '<span class="layui-badge layui-bg-gray">按钮</span>'
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    template: function (item) {
                        return '<button data-row=' + item + '  class="layui-btn layui-btn-sm" lay-filter="edit">编辑</button> <button class="layui-btn layui-btn-danger layui-btn-sm" lay-filter="delete">删除</button>'
                    }
                }
            ]
        })

        //监听行工具自定义事件
        treeTable.on('tree(edit)', function (data) {
            curd.openEdit(data.item)
            treeTable.reload()
        })
        treeTable.on('tree(delete)', function (data) {
            layer.confirm('真的删除此菜单么，此操作将会清空该菜单下所有权限，请谨慎考虑', function (index) {
                curd.openDel(data.item)
                layer.close(index)
                treeTable.reload()
            })
        })
    })
</script>
</body>
</html>
